<app-login (onLogin)="logUser()" *ngIf="!isLoggedIn; else homepage" class="login"></app-login>

<ng-template #homepage>
  <app-homepage (navigateToAboutPage)="displayAbout()" *ngIf="!showAboutPage; else about"></app-homepage>
  <ng-template #about>
    <app-about> </app-about>
  </ng-template>
</ng-template>


