<header class="header">
  <h2>Home page</h2>
  <button (click)="showAboutPage()" class="about-button">About Us <span class="material-icons">arrow_forward</span></button>
</header>
<article class="content">
  <h3>Lorem</h3>
  <P
    >Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae consequuntur
    expedita facere ipsam inventore doloribus ut nesciunt! Quaerat deleniti quae
    omnis consequuntur natus tempore. Ratione quas dolores voluptatum saepe
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio, earum
    cupiditate velit a incidunt neque animi possimus doloribus quos laboriosam
    ad porro repellat aspernatur, autem nisi doloremque nostrum sapiente ipsa!
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatem optio,
    et consectetur est dolore unde nulla quam. Inventore dolorum blanditiis odio
    a, quo eveniet quas, quaerat, repudiandae architecto praesentium provident.
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam suscipit,
    assumenda quis totam necessitatibus harum molestias cumque repellat officiis
    dolore pariatur voluptate eligendi quia, quae dignissimos sapiente
    consequuntur architecto tenetur!</P
  >
</article>


