.header{
padding-right:1rem;
padding-left: 1rem;
border-bottom: thin solid black;
display: flex;
justify-content: space-between;
}
.content{
  padding: 1rem;
}
.about-button{
  border: 0;
  background-color: #fff;
  display: flex;
  align-items: center;
}
