<div class="login-card">
  <h2>LOGIN</h2>
  <input type="text" placeholder="Username" [(ngModel)]="username" >
  <input type="password" placeholder="Password" [(ngModel)]="password">
  <button (click)="login()" class="login-button"> Login</button>
</div>
