.login-card{
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 1rem;
  border: thin solid black;
  border-radius: 4px;
  background-color: #fff;
}
.login-card h2
{
align-self: center;
}

.login-button{
  width: 30%;
  align-self: center;
  
}
